.gcloudignore

.git
.gitignore
#!include:.gitignore

*.gradle/
*.idea/
*.settings/
*.project
*.vscode
local.properties

build/
kgax-core/bin
kgax-core/build
kgax-grpc/bin
kgax-grpc/build
kgax-grpc-examples/build
